## Introduction to Pandas
Pandas is the most prominent Python library for exploratory data analysis (EDA). The functions Pandas supports are integral to understanding, formatting, and preparing our data. Formally, we use Pandas to investigate, wrangle, munge, and clean our data. Pandas is the Swiss Army Knife of data manipulation!


We'll have two coding-heavy sessions on Pandas. In this one, we'll use Pandas to:
 - Read in a dataset
 - Investigate a dataset's integrity
 - Filter, sort, and manipulate a DataFrame's series

## About the Dataset: Adventureworks Cycles

<img align="right" src="http://lh6.ggpht.com/_XjcDyZkJqHg/TPaaRcaysbI/AAAAAAAAAFo/b1U3q-qbTjY/AdventureWorks%20Logo%5B5%5D.png?imgmax=800">

For today's Pandas exercises, we will be using a dataset developed by Microsoft for training purposes in SQL server, known the [Adventureworks Cycles 2014OLTP Database](https://github.com/Microsoft/sql-server-samples/releases/tag/adventureworks). It is based on a fictitious company called Adventure Works Cycles (AWC), a multinational manufacturer and seller of bicycles and accessories. The company is based in Bothell, Washington, USA and has regional sales offices in several countries. We will be looking at a single table from this database, the Production.Product table, which outlines some of the products this company sells. 

A full data dictionary can be viewed [here](https://www.sqldatadictionary.com/AdventureWorks2014/).

In [ ]:
# imports

In [ ]:
# where is the data folder?
# https://github.com/austinlasseter/pandas_exercises/tree/master/01-intro/data

In [ ]:
# use pandas to read in the datafile
path = 'https://raw.githubusercontent.com/austinlasseter/pandas_exercises/master/01-intro/data/Production.Product.csv'

In [ ]:
# what is prod?

In [ ]:
# how big is it?

In [ ]:
# what are the columns?

In [ ]:
# what is the index length?

### How to call individual columns

In [ ]:
# column names

In [ ]:
# what is the data type in each column?

In [ ]:
# How to select an individual column
# 3 ways to do this.
# First way. use brackets

In [ ]:
# another way.

In [ ]:
# Third way (most typing, best results)

In [ ]:
# The third method allows me to select multiple columns!
 # first bracket indicates "list"
 # second bracket indicates "dataframe filter"

In [ ]:
# Let's create another filter using brackets!

In [ ]:
# Try 2 things:
# call a subset of all columns
# create your own simple filter
# slack out the results as a screenshot.

In [ ]:
# what exactly is the filter doing?
# prod['Color'].head(10)

In [ ]:
# Null values
 
# turn that into a filter

In [ ]:
# Another example of a filter

In [ ]:
# You can call a single (or multiple) column(s) from filtered results

### Calculate some simple summary stats on your dataframe

In [ ]:
# describe all columns

In [ ]:
# describe a single column

In [ ]:
# Describe a subset of columns

In [ ]:
# Describe a subset of these 8 statistics (for the entire dataframe)

In [ ]:
# Describe a subset of these 8 statistics (for a single column)

In [ ]:
# Describe a subset of these 8 statistics (for a subset of columns)

## Renaming some columns

In [ ]:
# list columns

In [ ]:
# rename them

In [ ]:
# overwrite file

In [ ]:
# do this with multiple columns

## A few common operations with Pandas

In [ ]:
# Show all values of a categorical variable
# don't display null
 # do display nulls

In [ ]:
# display frequencies sorted by the index

In [ ]:
# What if I just want a list of the colors?

In [ ]:
# What if I just want the freqs?

In [ ]:
# How many UNIQUE colors are there?

In [ ]:
# List the unique colors