<a href="https://colab.research.google.com/github/austinlasseter/pandas_exercises/blob/master/02_column_operations.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Introduction to Pandas
Pandas is the most prominent Python library for exploratory data analysis (EDA). The functions Pandas supports are integral to understanding, formatting, and preparing our data. Formally, we use Pandas to investigate, wrangle, munge, and clean our data. Pandas is the Swiss Army Knife of data manipulation!


We'll have two coding-heavy sessions on Pandas. In this one, we'll use Pandas to:
 - Read in a dataset
 - Investigate a dataset's integrity
 - Filter, sort, and manipulate a DataFrame's series

## About the Dataset: Adventureworks Cycles

<img align="right" src="http://lh6.ggpht.com/_XjcDyZkJqHg/TPaaRcaysbI/AAAAAAAAAFo/b1U3q-qbTjY/AdventureWorks%20Logo%5B5%5D.png?imgmax=800">

For today's Pandas exercises, we will be using a dataset developed by Microsoft for training purposes in SQL server, known the [Adventureworks Cycles 2014OLTP Database](https://github.com/Microsoft/sql-server-samples/releases/tag/adventureworks). It is based on a fictitious company called Adventure Works Cycles (AWC), a multinational manufacturer and seller of bicycles and accessories. The company is based in Bothell, Washington, USA and has regional sales offices in several countries. We will be looking at a single table from this database, the Production.Product table, which outlines some of the products this company sells. 

A full data dictionary can be viewed [here](https://www.sqldatadictionary.com/AdventureWorks2014/).

In [43]:
# imports
import pandas as pd
import numpy as np

In [44]:
# where is the data folder?
# https://github.com/austinlasseter/pandas_exercises/tree/master/01-intro/data

In [45]:
# use pandas to read in the datafile
path = 'https://raw.githubusercontent.com/austinlasseter/pandas_exercises/master/01-intro/data/Production.Product.csv'
prod = pd.read_csv(path, sep='\t')

In [46]:
# what is prod?
type(prod)

pandas.core.frame.DataFrame

In [47]:
# how big is it?
prod.shape

(504, 25)

In [48]:
# what are the columns?
prod.columns

Index(['ProductID', 'Name', 'ProductNumber', 'MakeFlag', 'FinishedGoodsFlag',
       'Color', 'SafetyStockLevel', 'ReorderPoint', 'StandardCost',
       'ListPrice', 'Size', 'SizeUnitMeasureCode', 'WeightUnitMeasureCode',
       'Weight', 'DaysToManufacture', 'ProductLine', 'Class', 'Style',
       'ProductSubcategoryID', 'ProductModelID', 'SellStartDate',
       'SellEndDate', 'DiscontinuedDate', 'rowguid', 'ModifiedDate'],
      dtype='object')

In [49]:
# what is the index length?
len(prod)

504

In [50]:
# top 5
prod.head()

   ProductID  ...                   ModifiedDate
0          1  ...  2014-02-08 10:01:36.827000000
1          2  ...  2014-02-08 10:01:36.827000000
2          3  ...  2014-02-08 10:01:36.827000000
3          4  ...  2014-02-08 10:01:36.827000000
4        316  ...  2014-02-08 10:01:36.827000000

[5 rows x 25 columns]

### How to call individual columns

In [51]:
# column names
prod.columns
prod['Size'].sample()

259    60
Name: Size, dtype: object

In [52]:
# also call
prod.Size.head()

0    NaN
1    NaN
2    NaN
3    NaN
4    NaN
Name: Size, dtype: object

In [53]:
# 2 columns
prod[['ProductNumber', 'Size']].head()

  ProductNumber Size
0       AR-5381  NaN
1       BA-8327  NaN
2       BE-2349  NaN
3       BE-2908  NaN
4       BL-2036  NaN

In [54]:
# what is the data type in each column?
prod['Size'].dtypes
prod.dtypes

ProductID                  int64
Name                      object
ProductNumber             object
MakeFlag                   int64
FinishedGoodsFlag          int64
Color                     object
SafetyStockLevel           int64
ReorderPoint               int64
StandardCost             float64
ListPrice                float64
Size                      object
SizeUnitMeasureCode       object
WeightUnitMeasureCode     object
Weight                   float64
DaysToManufacture          int64
ProductLine               object
Class                     object
Style                     object
ProductSubcategoryID     float64
ProductModelID           float64
SellStartDate             object
SellEndDate               object
DiscontinuedDate         float64
rowguid                   object
ModifiedDate              object
dtype: object

In [55]:
# How to select an individual column
# 3 ways to do this.
# First way. use brackets

In [56]:
# another way.

In [57]:
# Third way (most typing, best results)

In [58]:
# The third method allows me to select multiple columns!
 # first bracket indicates "list"
 # second bracket indicates "dataframe filter"

In [59]:
# Let's create another filter using brackets!
print(prod['Size'].value_counts().sort_index())
prod[(prod['Size']=='L') | (prod['Size']=='M')].head()

38    12
40    11
42    15
44    29
46    11
48    25
50     9
52    16
54     9
56     2
58    15
60    11
62    11
70     1
L     11
M     11
S      9
XL     3
Name: Size, dtype: int64

     ProductID  ...                   ModifiedDate
213        709  ...  2014-02-08 10:01:36.827000000
214        710  ...  2014-02-08 10:01:36.827000000
218        714  ...  2014-02-08 10:01:36.827000000
219        715  ...  2014-02-08 10:01:36.827000000
353        849  ...  2014-02-08 10:01:36.827000000

[5 rows x 25 columns]

In [60]:
# Try 2 things:
# call a subset of all columns
# create your own simple filter
# slack out the results as a screenshot.
prod [ prod ['StandardCost'] >= 20].head()

     ProductID  ...                   ModifiedDate
186        514  ...  2014-02-08 10:01:36.827000000
187        515  ...  2014-02-08 10:01:36.827000000
188        516  ...  2014-02-08 10:01:36.827000000
189        517  ...  2014-02-08 10:01:36.827000000
190        518  ...  2014-02-08 10:01:36.827000000

[5 rows x 25 columns]

In [61]:
# what exactly is the filter doing?
# prod['Color'].head(10) 
prod [(prod['Color']=='Blue') & (prod['ListPrice']>100)]   [['Color', 'ListPrice', 'StandardCost']].sample(3)

    Color  ListPrice  StandardCost
407  Blue     333.42      199.8519
482  Blue     742.35      461.4448
395  Blue    1003.91      601.7437

In [62]:
# Null values
prod.isnull().sum()

ProductID                  0
Name                       0
ProductNumber              0
MakeFlag                   0
FinishedGoodsFlag          0
Color                    248
SafetyStockLevel           0
ReorderPoint               0
StandardCost               0
ListPrice                  0
Size                     293
SizeUnitMeasureCode      328
WeightUnitMeasureCode    299
Weight                   299
DaysToManufacture          0
ProductLine              226
Class                    257
Style                    293
ProductSubcategoryID     209
ProductModelID           209
SellStartDate              0
SellEndDate              406
DiscontinuedDate         504
rowguid                    0
ModifiedDate               0
dtype: int64

In [63]:
# how to handle missing data with color
prod['Color'].value_counts(dropna=False)

NaN             248
Black            93
Silver           43
Red              38
Yellow           36
Blue             26
Multi             8
Silver/Black      7
White             4
Grey              1
Name: Color, dtype: int64

In [64]:
# let's replace missing
prod['Color'].fillna('Hot Pink', inplace=True)

In [65]:
# how to handle missing data with color
prod['Color'].value_counts(dropna=False)

Hot Pink        248
Black            93
Silver           43
Red              38
Yellow           36
Blue             26
Multi             8
Silver/Black      7
White             4
Grey              1
Name: Color, dtype: int64

In [66]:
# let's drop missing data
print(prod.shape)
# df2.dropna(subset=['three', 'four', 'five'], how='all')
prod.dropna(subset = ['ProductLine'],  inplace=True)
print(prod.shape)

(504, 25)
(278, 25)

In [ ]:
# Another example of a filter

In [67]:
# You can call a single (or multiple) column(s) from filtered results
filtered = prod[(prod['Color']=='Blue') | (prod['Color']=='Red')]
filtered[['Color', 'ListPrice', 'Weight']].sample(5)

    Color  ListPrice  Weight
394  Blue    1003.91    2.96
402  Blue     333.42    3.20
256   Red    3578.27   14.42
473  Blue    2384.07   25.90
472  Blue    2384.07   25.68

### Calculate some simple summary stats on your dataframe

In [69]:
# describe all columns
prod.describe()

        ProductID   MakeFlag  ...  ProductModelID  DiscontinuedDate
count  278.000000  278.00000  ...      278.000000               0.0
mean   848.946043    0.71223  ...       33.830935               NaN
std     85.149056    0.45354  ...       31.286440               NaN
min    680.000000    0.00000  ...        1.000000               NaN
25%    774.250000    0.00000  ...       10.000000               NaN
50%    849.500000    1.00000  ...       25.000000               NaN
75%    920.750000    1.00000  ...       36.750000               NaN
max    999.000000    1.00000  ...      126.000000               NaN

[8 rows x 12 columns]

In [70]:
# describe a single column
prod['MakeFlag'].describe()

count    278.00000
mean       0.71223
std        0.45354
min        0.00000
25%        0.00000
50%        1.00000
75%        1.00000
max        1.00000
Name: MakeFlag, dtype: float64

In [71]:
# Describe a subset of columns
prod[['MakeFlag', 'ReorderPoint', 'Weight']].describe()

        MakeFlag  ReorderPoint       Weight
count  278.00000    278.000000   188.000000
mean     0.71223    198.064748    47.001011
std      0.45354    164.543399   158.528377
min      0.00000      3.000000     2.120000
25%      0.00000     75.000000     2.832500
50%      1.00000     75.000000    15.960000
75%      1.00000    375.000000    25.485000
max      1.00000    375.000000  1050.000000

In [74]:
# Describe a subset of these 8 statistics (for the entire dataframe)
prod[['MakeFlag', 'ReorderPoint', 'Weight']].mean()
prod[['MakeFlag', 'ReorderPoint', 'Weight']].median()
prod[['MakeFlag', 'ReorderPoint', 'Weight']].max()

MakeFlag           1.0
ReorderPoint     375.0
Weight          1050.0
dtype: float64

In [ ]:
# Describe a subset of these 8 statistics (for a single column)

In [ ]:
# Describe a subset of these 8 statistics (for a subset of columns)

## Renaming some columns

In [75]:
# list columns
prod.columns

Index(['ProductID', 'Name', 'ProductNumber', 'MakeFlag', 'FinishedGoodsFlag',
       'Color', 'SafetyStockLevel', 'ReorderPoint', 'StandardCost',
       'ListPrice', 'Size', 'SizeUnitMeasureCode', 'WeightUnitMeasureCode',
       'Weight', 'DaysToManufacture', 'ProductLine', 'Class', 'Style',
       'ProductSubcategoryID', 'ProductModelID', 'SellStartDate',
       'SellEndDate', 'DiscontinuedDate', 'rowguid', 'ModifiedDate'],
      dtype='object')

In [76]:
# rename them
prod.rename({'SafetyStockLevel': 'SafetyLevel'})

     ProductID  ...                   ModifiedDate
209        680  ...  2014-02-08 10:01:36.827000000
210        706  ...  2014-02-08 10:01:36.827000000
211        707  ...  2014-02-08 10:01:36.827000000
212        708  ...  2014-02-08 10:01:36.827000000
213        709  ...  2014-02-08 10:01:36.827000000
..         ...  ...                            ...
496        992  ...  2014-02-08 10:01:36.827000000
497        993  ...  2014-02-08 10:01:36.827000000
501        997  ...  2014-02-08 10:01:36.827000000
502        998  ...  2014-02-08 10:01:36.827000000
503        999  ...  2014-02-08 10:01:36.827000000

[278 rows x 25 columns]

In [82]:
# overwrite file
prod.rename(columns = {'SafetyStockLevel': 'SafetyLevel'}, inplace=True)

In [84]:
# do this with multiple columns
prod.rename(columns = {'ProductNumber': 'PN', 'ReorderPoint': 'RP', 'ListPrice': 'LP'}, inplace=True)
prod.head()

     ProductID  ...                   ModifiedDate
209        680  ...  2014-02-08 10:01:36.827000000
210        706  ...  2014-02-08 10:01:36.827000000
211        707  ...  2014-02-08 10:01:36.827000000
212        708  ...  2014-02-08 10:01:36.827000000
213        709  ...  2014-02-08 10:01:36.827000000

[5 rows x 25 columns]

## A few common operations with Pandas

In [87]:
# Show all values of a categorical variable
prod['Color'].value_counts().sort_index().head()

Black       86
Blue        26
Grey         1
Hot Pink    41
Multi        8
Name: Color, dtype: int64

In [89]:
# don't display null
prod['Color'].value_counts(dropna=True).sort_index().head()
 # do display nulls
prod['Color'].value_counts(dropna=False).sort_index().head()

Black       86
Blue        26
Grey         1
Hot Pink    41
Multi        8
Name: Color, dtype: int64

In [ ]:
# display frequencies sorted by the index
# .sort_index()

In [94]:
# What if I just want a list of the colors?
prod['Color'].value_counts().sort_index().index.to_list()

['Black',
 'Blue',
 'Grey',
 'Hot Pink',
 'Multi',
 'Red',
 'Silver',
 'Silver/Black',
 'White',
 'Yellow']

In [98]:
# What if I just want the freqs?
list(prod['Color'].value_counts().sort_index().values)

[86, 26, 1, 41, 8, 38, 31, 7, 4, 36]

In [100]:
# How many UNIQUE colors are there?

prod['Color'].nunique()

10

In [101]:
# List the unique colors
list(prod['Color'].unique())

['Black',
 'Red',
 'White',
 'Blue',
 'Multi',
 'Silver',
 'Yellow',
 'Hot Pink',
 'Grey',
 'Silver/Black']