## Pandas for Exploratory Data Analysis

MovieLens 100k movie rating data:  
* main page: http://grouplens.org/datasets/movielens/  
* data dictionary: http://files.grouplens.org/datasets/movielens/ml-100k-README.txt  
* files: u.user, u.data, u.item

In [1]:
import pandas as pd

### Joining (Merging) DataFrames

In [2]:
# read a dataset of top-rated IMDb movies into a DataFrame
movies = pd.read_csv('http://bit.ly/imdbratings', usecols=['title', 'genre', 'duration', 'actors_list'])
movies.head()

,title,genre,duration,actors_list
0,The Shawshank Redemption,Crime,142,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt..."
1,The Godfather,Crime,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']"
2,The Godfather: Part II,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv..."
3,The Dark Knight,Action,152,"[u'Christian Bale', u'Heath Ledger', u'Aaron E..."
4,Pulp Fiction,Crime,154,"[u'John Travolta', u'Uma Thurman', u'Samuel L...."

In [3]:
# read 'u.data' into 'ratings'
ratings = pd.read_csv('http://bit.ly/imdbratings', usecols=['star_rating', 'title', 'content_rating'])
ratings.head()

   star_rating                     title content_rating
0          9.3  The Shawshank Redemption              R
1          9.2             The Godfather              R
2          9.1    The Godfather: Part II              R
3          9.0           The Dark Knight          PG-13
4          8.9              Pulp Fiction              R

In [4]:
# merge 'movies' and 'ratings' (inner join on 'movie_id')
movie_ratings = pd.merge(movies, ratings)
movie_ratings.head()

,title,genre,duration,actors_list,star_rating,content_rating
0,The Shawshank Redemption,Crime,142,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt...",9.3,R
1,The Godfather,Crime,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']",9.2,R
2,The Godfather: Part II,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv...",9.1,R
3,The Dark Knight,Action,152,"[u'Christian Bale', u'Heath Ledger', u'Aaron E...",9.0,PG-13
4,Pulp Fiction,Crime,154,"[u'John Travolta', u'Uma Thurman', u'Samuel L....",8.9,R

In [5]:
movies.shape

(979, 4)

In [6]:
ratings.shape

(979, 3)

In [7]:
movie_ratings.shape

(987, 6)